@font-face {
    font-family: 'SoccerLeague';
    src: url("../assets/fonts/SoccerLeague.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: SoccerLeague, sans-serif;
    background-color: #000;
}

canvas {
    height: 90% !important;
    width: 100% !important;
}

#game-container {
    display: flex;
    align-items: center;
}